<br/>
  <div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a routerLink="/baseball" routerLinkActive="active">Baseball</a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a routerLink="/cricket" routerLinkActive="active">Cricket</a> 
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
         <a routerLink="/rugby" routerLinkActive="active">Rugby</a> 
        </div>
    </div>
 
  </div>