<div class="container">
<div *ngFor="let cust of customers">  
  {{cust.FirstName}}
  {{cust.LastName}}
</div>
<div *ngFor="let usr of users">
  <div class="col-sm-12">
    <div class="col-sm-2">{{usr?.Id}}</div>
    <div class="col-sm-4">{{usr?.Name}}</div>
    <div class="col-sm-4">{{usr?.Phone}}</div>
    <div class="col-sm-2">{{usr?.Website}}</div>
  </div>
  <div>
    <select>
      <option *ngFor="let usr of users" value={{usr.Id}}>
        {{usr.Name}}
      </option>
    </select>
  </div>
</div>
 <div>
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Upload Document</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="uploadedDocument" *ngIf="hasDocument">  
              <!-- {{documentcontent}} data:application/pdf;base64, -->
                <!-- <object  data="{{documentcontent}}" type="application/pdf" style="width:100%;height:400px;"></object> -->
            </div>
            <div>
                <input type="file" id="fileUpload" (change)="UploadPDFDocument($event)" name="fileUpload"  accept="application/pdf" />
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Upload your Document</button>
  </div>
</div>